// rem, em

.box-1{
    width: 10rem;
    height: 7.5rem;
    background-color: $color-1;
}

.box-2{
    z-index: 2;
    width: 10rem;
    height: 7.5rem;
    background-color: $color-2;
}

.box-3{
    width: 10rem;
    height: 7.5rem;
    background-color: $color-3;
}

.box-4{
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 50%;
    width: 10rem;
    height: 7.5rem;
    background-color: $color-4;
}

.logo{
    position: sticky;
    top: 5rem;
    width: 10rem;
    height: 10rem;
    background-color: $color-3;
    margin-top: 1rem;
    margin-left: 1rem;
}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100dvw;
    height: 170dvh;
}

.navbar{
    background-color: $background-color;
    position: fixed;
    width: 100dvw;
    height: 20dvh;
}
.footer{
    position: relative;
    width: 100dvw;
    height: 40dvh;
}